#!/usr/bin/make -f
#-*- makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

MODULE_NAME=debian
APP_10=play-1.0-$(MODULE_NAME)-module
APP_11=play-1.1-$(MODULE_NAME)-module
MODULE=$(MODULE_NAME)

DEB_PATH_10=debian/$(APP_10)
DEB_PATH_11=debian/$(APP_11)
INSTALL_PATH_10=/usr/share/play-modules/1.0/$(MODULE)
INSTALL_PATH_11=/usr/share/play-modules/1.1/$(MODULE)

%:
	dh  $@

override_dh_auto_install: 
	/bin/echo -e '\n\n' | play-1.0 build-module
	install -d $(DEB_PATH_10)$(INSTALL_PATH_10)
	rsync -r --exclude .svn --exclude .CVS resources $(DEB_PATH_10)$(INSTALL_PATH_10)
	cp commands-1.0.py $(DEB_PATH_10)$(INSTALL_PATH_10)/commands.py
	/bin/echo -e '\n\n' | play-1.1 build-module
	install -d $(DEB_PATH_11)$(INSTALL_PATH_11)
	rsync -r --exclude .svn --exclude .CVS resources $(DEB_PATH_11)$(INSTALL_PATH_11)
	cp commands-1.1.py $(DEB_PATH_11)$(INSTALL_PATH_11)/commands.py
